<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>대전고 3-5</title>
  <link rel="stylesheet" href="main.css">


</head>

<body class="background">

  <div title="main_name" class="main_name1" id="background">
    <h1>사랑하는 대전고등학교 3학년 5반</h1>

  </div>


  <div title="middle" id="middle">

    <div title="menu" id="menu" class="menu1">
      <h2>메뉴</h2>

      <a href="#pd">주요일정<br></a>
      <a href="#sp">수행평가<br></a>
      <a href="#jb">자리배치<br></a>
      <a href="#hd">학사일정<br></a>
      <a href="#sg">소그룹 자율활동<br></a>
      <a href="#oo">1인 1역할<br></a>
      <a href="#gn">지식 나눔 활동<br></a>
      <a href="#oi">5반 이야기<br></a>

    </div>




    <div title="day" id="day" class="day1">
      <h5>여기는 날짜& 수능 D-Day가 들어갈 곳 입니다.</h5>
    </div>



    <div title="schedule" id="one-week-schedule" class="o-w1">
      여기는 일주일 스케쥴이 들어갈 곳입니다.
    </div>



    <div title="djhs-hp" id="djhs-hp" class="djhs-hp">
      <a href="https://djhs.djsch.kr/main.do?s=daejeon" target="_blank">
        <h2>대전고등학교 홈페이지 바로가기</h2>
      </a>
    </div>

  </div>



  <div class="under" id="pd">주요 일정
    <p><a href="#background">메뉴로 돌아가기</a></p>
  </div>
  <div class="under" id="sp">수행평가
    <p><a href="#background">메뉴로 돌아가기</a></p>
  </div>
  <div class="under" id="jb">자리배치
    <p><a href="#background">메뉴로 돌아가기</a></p>
  </div>
  <div class="under" id="hd">학사일정
    <p><a href="#background">메뉴로 돌아가기</a></p>
  </div>
  <div class="under" id="sg">소그룹
    <p><a href="#background">메뉴로 돌아가기</a></p>
  </div>
  <div class="under" id="oo">1인 1역할
    <p><a href="#background">메뉴로 돌아가기</a></p>
  </div>
  <div class="under" id="gn">지식 나눔
    <p><a href="#background">메뉴로 돌아가기</a></p>
  </div>
  <div class="under" id="oi">5반
    <img>
    <p><a href="#background">메뉴로 돌아가기</a></p>
  </div>
  <div></div>



</body>

</html>